<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bcp.bo.discounts"
    android:installLocation="auto">

    <!-- TODO: check preferExternal -->

    <uses-sdk tools:overrideLibrary="com.facebook" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <permission
        android:name="com.bcp.bo.discounts.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bcp.bo.discounts.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- Internal storage if there is no external. -->
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Location needs -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />


    <application
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- ACTIVITIES -->
        <activity
            android:name=".activities.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Twitter login -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bcp_discounts"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <!-- Facebook login -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <!--
             ENVIRONMENTS:
        	MOCKUPS = 0
        	DEVELOPMENT = 1
        	PREPRODUCTION = 2
        	PRODUCTION = 3
        -->
        <meta-data
            android:name="environment"
            android:value="3" />

        <!-- GMAPS API -->
        <!-- A8: AIzaSyBkCFdmHVueSLOegXf25HxrkMF3emx8UNE -->
        <!-- BCP: AIzaSyAaSPebT2tP8ASfS1qttVxbPSB7NRxeZAM -->
        <!-- BEFORE: AIzaSyCHxy8z88bt5KPxM9oSV-Ah1rbdo5eaJ9U -->
        <!-- BC2356: AIzaSyAvJZhtwWU54FKXEFHkzFOrTKp-ienJuGo -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAvJZhtwWU54FKXEFHkzFOrTKp-ienJuGo" />
        <!-- Facebook API -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name=".service.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider547900765406186"
            android:exported="true" />
    </application>

</manifest>